<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyC_K2JWXmwuxo0_C_f3o5r2jFnqUmUB5zw" defer></script>
	<script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='details.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title id="title">Details</title>
</head>

<body>
<button onclick="location.href='/'" id="home_button" type="button"><h1>Return to Main Page</h1></button>
<h2 id="company_name"></h2>


<div>
<div id="details">
<dl>
	<dt><h4>Description: </h4></dt><dd id="description"></dd><dd id="description2"></dd>
	<hr>
	<dt><h4>Category: </h4></dt><dd id="category"></dd>
	<hr>
	<dt><h4>Terminal: </h4></dt><dd id="terminal"></dd>
	<hr>
	<dt><h4>Location: </h4></dt><dd id="location"></dd>
	<hr>
	<dt><h4>Phone: </h4></dt><dd id="phone"></dd>
</dl>
</div>
<div id="map"></div>
</div>

</body>
</html>