<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Search LAX</title>
</head>

<body>
	<button onclick="location.href='#'" id="home_button" type="button"><h1>What's in LAX?</h1></button>
	
	<p id="introParagraph">
		Welcome to the searchable database of availiable business services within the LAX airport. 
		You can search for places to eat, currency exchange stations, information centers, and more.
		Use the search form below to find whatever you need in the LAX airport. Have a great flight!
	</p>
	
	<div class="search_area">
		<h2>Search:</h2>
		
		<form action="/results" method="get">
			<table id="innerTable">
			<tr><td>Service Name: </td><td><input type="text" name="search_string"></td></tr>
			<tr><td>Terminal: </td><td><select name="terminal">
				<option value="" selected>--</option>
				<option value="Terminal 1">Terminal 1</option>
				<option value="Terminal 2">Terminal 2</option>
				<option value="Terminal 3">Terminal 3</option>
				<option value="Terminal 4">Terminal 4</option>
				<option value="Terminal 5">Terminal 5</option>
				<option value="Terminal 6">Terminal 6</option>
				<option value="Terminal 7">Terminal 7</option>
				<option value="Terminal 8">Terminal 8</option>
				<option value="TBIT">TBIT</option>
			</select></td></tr>
			<tr><td>Service Type: </td><td><select name="service_type">
				<option value="" selected>--</option>
				<option value="SPAS">Spas</option>
				<option value="FOOD AND BEVERAGE FACILITIES">Food And Beverage Facilities</option>
				<option value="GIFT SHOPS AND NEWS STANDS">Gift Shops And News Stands</option>
				<option value="CURRENCY EXCHANGE">Currency Exchange</option>
				<option value="DUTY FREE SHOPS">Duty Free Shops</option>
				<option value="AIR CARRIER">Air Carrier</option>
				<option value="MISCELLANEOUS">Miscellaneous</option>
				<option value="MEDICAL FACILITIES">Medical Facilities</option>
				<option value="CONTRACT SECURITY SERVICES">Contract Security Services</option>
				<option value="TRAVELERS ASSISTANCE">Travelers Assistance</option>
				<option value="CUSTODIAL SERVICES">Custodial Services</option>
				<option value="GOVERNMENT AGENCIES">Government Agencies</option>
			</select></td></tr></table><br><br>
			<button type="button" onclick="getLocation()">Use my location</button><br>
			<fieldset><legend>GPS Information</legend>
				<table id="innerTable">
				<tr><td>Latitude: </td><td><input type="text" name="latitude" id="lat_input"></td></tr>
				<tr><td>Longitude: </td><td><input type="text" name="longitude" id="lon_input"></td></tr>
				<tr><td>Maximum Distance: </td><td><input type="text" name="radius"> meters</td></tr>
				</table>
			</fieldset><br><br>
			<button type="submit">Search</button>
			<button type="reset">Reset</button>
		</form>
	</div>

  </body>
</html>